<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin panel</title>
    <link rel="icon" href="https://i.pinimg.com/originals/b5/c8/76/b5c8766fdbeff04d6b55c5d84ebc205e.png"
          type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        body {
            display: flex; /* Используем Flexbox для общего выравнивания */
            flex-direction: column; /* Вертикальная ориентация */
            height: 100vh; /* Высота родительского контейнера */
            margin: 0; /* Убираем отступы по умолчанию */
        }

        .main {
            display: flex; /* Основное содержимое выравнивается горизонтально */
            flex: 1; /* Остальная область для контента */
        }

        .sidebar {
            flex-direction: column; /* Вертикальная ориентация */
            width: 250px; /* Ширина боковой панели */
            background-color: #ffffff; /* Цвет фона - белый */
            color: blue; /* Цвет текста */
        }

        .content {
            flex: 1; /* Ширина основного контента */
            padding: 20px; /* Отступы для контента */
        }

        .list-group {
            padding-top: 20px; /* Отступы для контента */
            flex: 1; /* Ширина основного контента */
            width: 250px; /* Ширина боковой панели */
            background-color: #ffffff; /* Цвет фона - белый */
            color: blue; /* Цвет текста */
        }
    </style>
</head>
<body>
<!-- Навбар сверху -->
<nav class="navbar navbar-expand-lg" style="background-color: #343a40;">
    <div class="container-fluid">
        <div style="color: white; display: flex; align-items: center;">
            <a class="navbar-brand" style="color: white;" th:text="${username}"></a>
            <span style="margin-left: 1px;">with roles:</span>
            <span th:text="${roles}" style="margin-left: 5px;"></span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <form th:action="@{/logout}" th:method="POST">
                    <input type="submit" value="Logout"
                           style="color: #f8f9fa; border: none; background: transparent; cursor: pointer;"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!-- Боковая панель -->
<div class="main">
    <div class="sidebar">
        <div class="list-group">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <div th:if="${roles.contains('ADMIN')}">
                        <a th:href="@{/admin}" class="list-group-item list-group-item-action active">Admin</a>
                    </div>
                    <div th:if="${roles.contains('USER')}">
                        <a th:href="@{/user}" class="list-group-item list-group-item-action">User</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Основное содержимое -->
    <div class="content">
        <div class="admin-panel">
            <h1 class="text-left">Admin panel</h1>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="users-tab" data-bs-toggle="tab" href="#users"
                       role="tab" aria-controls="users" aria-selected="true">Users table
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="roles-tab" data-bs-toggle="tab" href="#add"
                       role="tab" aria-controls="roles" aria-selected="true">New User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    <h2 class="text-left">All Users</h2>
                    <table id="users-table" class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Role</th>
                            <th scope="col">Year Of Birth</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                    </table>
                    <!--Добавление юзера-->
<div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="roles-tab">
    <h2 class="text-left">Add New User</h2>
    <div class="container d-flex justify-content-center align-items-center h-300">
        <form class="col-4" role="form" id="creating-user-form">
            <div class="mb-3">
                <label style="font-weight: bold;" for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="username" required>
            </div>
            <div class="mb-3">
                <label style="font-weight: bold;" for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
            </div>
            <div class="mb-3">
                <label style="font-weight: bold;" for="yearOfBirth" class="form-label">Year Of Birth</label>
                <input type="number" class="form-control" id="yearOfBirth" name="yearOfBirth" placeholder="Year of Birth" required>

            </div>
            <div class="mb-3">
                <label style="font-weight: bold;" for="roles" class="form-label">Role</label>
                <select class="form-control" id="roles" name="roles" multiple size="2">
                    <option value="1">ROLE_USER</option>
                    <option value="2">ROLE_ADMIN</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
</div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h1>User information-page</h1>
                        <div class="tab-content">
                            <div class="tab-pane fade show active mr-4 bg-white" role="tabpanel" aria-labelledby="users-tab">
                                <div class="card">
                                    <div class="card-header h4">About user</div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <table class="table table-striped pb-4 ">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID</th>
                                                    <th scope="col">Username</th>
                                                    <th scope="col">Password</th>
                                                    <th scope="col">Age</th>
                                                    <th scope="col">Role</th>
                                                </tr>
                                                </thead>
                                                <tbody id="about-user"></tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Изменение пользователя -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <form id="editModalForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                    <button type="button" class="btn-close" data-dismiss="modal"
                            aria-label="Close">
                    </button>
                </div>
                    <div class="modal-body">
                        <label class="col-form-label font-weight-bold" for="idEdit">ID</label>
                        <input id="idEdit" type="text" class="form-control" name="id" readonly/>
                    <div class="mb-3">

                    </div>
                        <div class="mb-3">
                        <label for="usernameEdit" class="form-label">Username</label>
                        <input type="text" class="form-control" id="usernameEdit" name="username" aria-describedby="usernameHelpBlock">
                        <div id="usernameHelpBlock" class="form-text">Your username must be 2-30 characters long.</div>
                    </div>

                    <div class="mb-3">
                        <label for="passwordEdit" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordEdit" name="password" aria-describedby="passwordHelpBlock">
                        <div id="passwordHelpBlock" class="form-text">Your password must be 2-30 characters long.</div>
                    </div>

                    <div class="mb-3">
                        <label for="ageEdit" class="form-label">Year Of Birth</label>
                        <input type="number" class="form-control" id="ageEdit" name="yearOfBirth">
                    </div>
                        <div class="form-group">
                            <label for="rolesEdit">Role</label>
                            <select class="form-control" id="rolesEdit" multiple size="2" name="roles">
                                <option value="1">USER</option>
                                <option value="2">ADMIN</option>
                            </select>
                        </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                    </div>
            </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteUserForm">
                <div class="modal-body">
                    <input type="hidden" name="id" id="deleteId">
                    <input type="hidden" name="action" value="delete"/>
                    <div class="mb-3">
                        <label for="idDelete" class="form-label">ID</label>
                        <input type="text" class="form-control" id="idDelete" disabled/>
                    </div>
                    <div class="mb-3">
                        <label for="usernameDelete" class="form-label">Username</label>
                        <input type="text" class="form-control" id="usernameDelete" name="username" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="passwordDelete" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordDelete" name="password" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="ageDelete" class="form-label">Year Of Birth</label>
                        <input type="number" class="form-control" id="ageDelete" name="age" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="rolesDelete" class="form-label">Role</label>
                        <select class="form-control" id="rolesDelete" multiple size="2" name="roles">
                            <option value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>